# Environment
venv/
__pycache__/
.env

# IGNORE all generated/uploaded audio
audio/*.wav
uploads/*.wav

# KEEP specific samples and binaries
!male_speaker.wav
!female_speaker.wav
!default_speaker.wav
!ffmpeg.exe
!ffprobe.exe